{%extends 'base.html'%}

{% block content%}
<div class="justify-content-center text-center" style="margin-top: 100px; margin-bottom: 400px; padding: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <div class="card-title text-white   ">
                            Add Site
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            
                            {% for field in form %}
                                <label  class="form-label">{{field.name}}</label>       
                                {{field}}</br>
                            {% endfor %}
                            <button class = "btn-primary" type="submit"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}