{%extends 'base.html'%}

{% block content%}

<div class="justify-content-center text-center" style="margin-top: 100px; margin-bottom:475px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <div class="card-title text-black">
                            Delete Confirmation
                        </div>
                    </div>
                    <div class="card-body">                        
                        <form method="post">
                            {% csrf_token %}
                            <p>{{object.user.username}}, Are you sure you want to delete Password "{{ object }}"?</p>    
                            <input class= "btn btn-primary" type="submit" value="Confirm">
                            <a class= "btn btn-primary" href="{% url 'password:view_pwd' %}">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}