{%extends 'base.html'%}

{% block content%}
<div class="main-content col-8 justify-content-center text-center" style="margin-bottom: 400px">
  <a style= " float:right;" href="{% url 'password:view_sorted_pwd' 'tag' %}"><button type="button" class="btn btn-secondary" style="color:black;">Sort by Tag</button></a>
  <!-- <div class="flex"> -->
    <h1> Passwords of {{user.username|capfirst}}</h1>
   
  <!-- </div> -->

  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Password</th>
          <th scope="col">Description</th>
          <th scope="col">Email</th>
          <th scope="col">Site</th>
          <th scope="col">Category</th>
          <th scope="col">Tags</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>  
      {% for password in passwords %}        
          <tr>
              <td>{{password.password}}</td>
              <td>{{password.description}}</td>
              <td>{{password.email}}</td>
              <td>{{password.site}}</td>
              <td>{{password.category}} </td>
              <td>{{password.tag}}</td>
              <td><a href="{% url 'password:edit_pwd' password.id %}"> <button type="button" class="btn btn-info" style="color:black;">Edit</button></a>
              <a href="{% url 'password:delete_pwd' password.id %}"><button type="button" class="btn btn-secondary" style="color:black;">Delete</button></a></td>
          </tr>
      {% endfor%}
      </tbody>
    </table>
    
  <div class="justify-content-md-end">
    To manually add password Clike Here ->    <a href="{% url 'password:add_pwd' %}"> <button type="button" class="btn btn-info" style="color:black;">Add Password</button></a>
  </div>
</div>

{% endblock content%}