{%extends 'base.html'%}


{% block content%}


<div class="main-content col-6 justify-content-center text-center">
  <h1> Passwords of {{user}}</h1>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">password</th>
          <th scope="col">description</th>
          <th scope="col">email</th>
          <th scope="col">site</th>
          <th scope="col">category</th>
        </tr>
      </thead>
      <tbody>
      {% for password in passwords %}        
          <tr>
              <td>{{password.password}}</td>
              <td>{{password.description}}</td>
              <td>{{password.email}}</td>
              <td>{{password.site}}</td>
              <td>{{password.category}} </td>
              <td><button type="button" class="btn btn-link"><a href="{% url 'edit_pwd' password.id %}">Edit</a></button></td>
          </tr>
      {% endfor%}
      </tbody>
    </table>
  {% comment %} <button type="button" class="btn btn-primary">Edit</button></br> {% endcomment %}
</div>

{% endblock content%}