{%extends 'base.html'%}


{% block content%}


<div class="main-content col-8 justify-content-center text-center">
  <h1> Passwords of {{user}}</h1>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Password</th>
          <th scope="col">Description</th>
          <th scope="col">Email</th>
          <th scope="col">Site</th>
          <th scope="col">Category</th>
          <th scope="col">Tags</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for password in passwords %}        
          <tr>
              <td>{{password.password}}</td>
              <td>{{password.description}}</td>
              <td>{{password.email}}</td>
              <td>{{password.site}}</td>
              <td>{{password.category}} </td>
              <td>{{password.tag}}</td>
              <td><button type="button" class="btn btn-info"><a href="{% url 'edit_pwd' password.id %}">Edit</a></button>
              <button type="button" class="btn btn-secondary"><a href="{% url 'delete_pwd' password.id %}">Delete</a></button></td>
          </tr>
      {% endfor%}
      </tbody>
    </table>
  {% comment %} <button type="button" class="btn btn-primary">Edit</button></br> {% endcomment %}
</div>

{% endblock content%}