{%extends 'base.html'%}

{% block content%}
    <div id="password-generator">
        <!-- password geenrator -->
        <div id = "password-generator">
            <h1 >Generate Your Password here</h1>
            <a href="{% url 'generate_pwd'%}"><h2 id="th">Click here to Generate</h2>
            <h2 id="result"></h2>
            </a>
            <i class="fa fa-copy" aria-hidden="true"></i>
        </div>
        
        <h1>Generated password: </h1>
        <h2>{{pwd}}</h2>

        <form method="POST" action="">
            {% csrf_token %}
            <!-- {{ form.password.as_hidden }} -->
            <input type="hidden" id="custId" name="pwd" value="{{pwd}}">

            {% if user.is_authenticated %}
                <button type ="submit">Save Password</button>
            {% else %}
                To Save Password Click here to  <a href="{% url 'login'%}">Login</a>
            {% endif %}

            {% comment %} <!-- <a href="{% url 'save-pwd'%}">Save Password</a> --> {% endcomment %}
        </form>
        
    </div>
{% endblock content%}   