{%extends 'base.html'%}

{% block content%}
    <div id="password-generator">
        <!-- password geenrator -->
        <div id = "password-generator">
            <h1 >Generate Your Password here</h1>
            <a href="{% url 'generate_pwd'%}"><h2 id="th">Click here to Generate</h2>
            <h2 id="result"></h2>
            </a>
            <i class="fa fa-copy" aria-hidden="true"></i>
        </div>
        
        <h1>Generated password: </h1>
        <h2>{{pwd}}</h2>

        <a href="{% url 'save-pwd'%}">Save Password</a>
        
    </div>
{% endblock content%}   