{%extends 'base.html'%}


{% block content%}
    {% if pwd %}

        <div class="justify-content-center text-center" style="margin-top: 100px; margin-bottom: 400px; padding: 25px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <div class="card-title text-white h3">
                                    {% if check %}
                                        Default Generated Password
                                    {% else %}
                                        Your Generated Password
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body h4">

                                    Generated Password: &nbsp {{pwd}} &nbsp &nbsp <i class="fa fa-copy" aria-hidden="true"></i>   
                                    {% if check %}
                                        <h2 id="th">Don't like Then refresh </h2><a href="{% url  'password:generate_pwd' %}"><i class="fa-solid fa-rotate-right"></i></a>
                                    {% endif %}
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <!-- {{ form.password.as_hidden }} -->
                                        <input type="hidden" name="pwd" value="{{pwd}}">
                                        <br>
                                        {% if user.is_authenticated %}
                                            <button class="btn btn-primary" name="form2" type ="submit">Save Password</button>
                                        {% else %}
                                            To Save Password Click on <a href="{% url 'user_profile:login'%}">Login</a>
                                        {% endif %}
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="main-content col-6 justify-content-center text-center" style="margin-bottom: 450px;">
            <!-- password geenrator -->
            <div id = "password-generator">

                <h1 > Generate Your Password Here :</h1>
                <div class="justify-content-center text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="card">
                                    <div class="card-header bg-primary text-white">
                                        <div class="card-title text-white h4">
                                            Select Choices
                                        </div>
                                    </div>
                                    <div class="card-body h5">

                                        {% if form1.non_field_errors %}
                                        <div class="non-field-errors">
                                            {% for err in form1.non_field_errors %}
                                                <div class="alert alert-warning" role="alert">{{ err }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            
                                            {% for field in form1 %}
                                                <label  class="form-label">{{field.label}}</label>
                                                {{field}}</br>
                                            {% endfor %}
                                            <button class="btn btn-primary" name="form1" type ="submit" >Generate Password</button>
                                        </form>
                                        <br>
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-primary">Password Length can be from 6 to 30.</li>
                                            <li class="list-group-item list-group-item-primary">3 Choices are mandatory for Generating secure password.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <a href="{% url 'password:generate_pwd'%}"><h2 id="th">To Generate by default Specification     Click here</h2> {% endcomment %}
                <h2 id="result"></h2>
                </a>
                <!-- <i class="fa fa-copy" aria-hidden="true"></i> -->
            </div>
        </div>
    {% endif %}
{% endblock content%}  
